/local/
/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
json/*
.last_cover_stats
ldepths/*
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
epirr.db
epirr_prod.sql
web/server.conf
